.menuSection {
  width: 600px;
  height: auto;
  padding: 10px 0px 20px 0px;
  border: 1px solid white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
}

.titleSection {
  display: flex;
  justify-content: center;
}

.title {
  font-size: 50px;
  font-family: var(--font-Fredericka-the-Great), serif;
  letter-spacing: 5px;
  padding-bottom: 40px;
}

.menuCard {
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
  gap: 20px;
}

.menuItem {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.nameAndPrice {
  display: flex;
  align-items: center;
  font-size: 17px;
}

.nameAndDots {
  display: flex;
  align-items: center;
  flex: 1;
  min-width: 0;
}

.itemName {
  font-family: sans-serif;
  letter-spacing: 5px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  white-space: nowrap;
}

.dots {
  flex: 1;
  border-bottom: 2px dotted rgba(255, 255, 255, 0.5);
  margin: 0 8px;
  height: 1px;
}

.itemPrice {
  font-size: 20px;
  color: rgb(255, 227, 70);
  white-space: nowrap;
  font-weight: bold;
}

.ingredients {
  color: lightgray;
  width: 380px;
}


@media(max-width: 1310px){

  .menuSection {
  width: 460px;
  padding: 10px 0px 20px 0px;
  margin: 0px 20px 20px 20px;
}

.title {
  font-size: 40px;
  letter-spacing: 5px;
  padding-bottom: 40px;
}

.menuCard {
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
  gap: 20px;
}

.menuItem {
  display: flex;
  flex-direction: column;
  gap: 5px;
}


.nameAndDots {
  display: flex;
  align-items: center;
  flex: 1;
  min-width: 0;
}

.itemName {
  letter-spacing: 3px;
  font-size: 17px;
  font-weight: bold;
  color: white;
  white-space: nowrap;
}

.dots {
  flex: 1;
  border-bottom: 2px dotted rgba(255, 255, 255, 0.5);
  margin: 0 4px;
  height: 1px;
}

.itemPrice {
  font-size: 17px;
  color: gold;
  white-space: nowrap;
  font-weight: bold;
}

.ingredients {
  width: 380px;
  font-size: 14px;
}

}

@media(max-width: 1050px){

  
  .menuSection {
  width: 400px;
  padding: 10px 0px 20px 0px;
  margin: 0px 20px 20px 20px;
}

.title {
  font-size: 30px;
  letter-spacing: 4px;
  padding-bottom: 40px;
}

.menuCard {
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
  gap: 20px;
}

.menuItem {
  display: flex;
  flex-direction: column;
  gap: 5px;
}


.nameAndDots {
  display: flex;
  align-items: center;
  flex: 1;
  min-width: 0;
}

.itemName {
  letter-spacing: 2px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  white-space: nowrap;
}

.dots {
  flex: 1;
  border-bottom: 2px dotted rgba(255, 255, 255, 0.5);
  margin: 0 4px;
  height: 1px;
}

.itemPrice {
  font-size: 15px;
  color: gold;
  white-space: nowrap;
  font-weight: bold;
}

.ingredients {
  width: 370px;
  font-size: 12px;
}

}



@media(max-width: 900px){

.menuSection {
  width: 360px;
  padding: 10px 0px 20px 0px;
  margin: 0px 15px 15px 15px;
}

.title {
  font-size: 30px;
  letter-spacing: 4px;
  padding-bottom: 40px;
}

.menuCard {
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
  gap: 20px;
}

.menuItem {
  display: flex;
  flex-direction: column;
  gap: 5px;
}


.nameAndDots {
  display: flex;
  align-items: center;
  flex: 1;
  min-width: 0;
}

.itemName {
  letter-spacing: 2px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  white-space: nowrap;
}

.dots {
  flex: 1;
  border-bottom: 2px dotted rgba(255, 255, 255, 0.5);
  margin: 0 4px;
  height: 1px;
}

.itemPrice {
  font-size: 15px;
  color: gold;
  white-space: nowrap;
  font-weight: bold;
}

.ingredients {
  width: 330px;
  font-size: 12px;
}

}

@media(max-width: 790px){

.menuSection {
  width: 295px;
  padding: 10px 0px 20px 0px;
  margin: 0px 10px 10px 10px;
}

.title {
  font-size: 25px;
  letter-spacing: 4px;
  padding-bottom: 40px;
}

.menuCard {
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
  gap: 20px;
}

.menuItem {
  display: flex;
  flex-direction: column;
  gap: 5px;
}


.nameAndDots {
  display: flex;
  align-items: center;
  flex: 1;
  min-width: 0;
}

.itemName {
  letter-spacing: 2px;
  font-size: 13px;
  font-weight: bold;
  color: white;
  white-space: nowrap;
}

.dots {
  flex: 1;
  border-bottom: 2px dotted rgba(255, 255, 255, 0.5);
  margin: 0 4px;
  height: 1px;
}

.itemPrice {
  font-size: 13px;
  color: gold;
  white-space: nowrap;
  font-weight: bold;
}

.ingredients {
  width: 270px;
  font-size: 10px;
}

}

@media(max-width: 641px){

.menuSection {
  width: 230px;
  padding: 10px 0px 20px 0px;
  margin: 0px 10px 10px 10px;
}

.title {
  font-size: 20px;
  letter-spacing: 2px;
  padding-bottom: 20px;
}

.menuCard {
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
  gap: 20px;
}

.menuItem {
  display: flex;
  flex-direction: column;
  gap: 5px;
}


.nameAndDots {
  display: flex;
  align-items: center;
  flex: 1;
  min-width: 0;
}

.itemName {
  letter-spacing: 1px;
  font-size: 11px;
  font-weight: bold;
  color: white;
  white-space: nowrap;
}

.dots {
  flex: 1;
  border-bottom: 2px dotted rgba(255, 255, 255, 0.5);
  margin: 0 4px;
  height: 1px;
}

.itemPrice {
  font-size: 11px;
  color: gold;
  white-space: nowrap;
  font-weight: bold;
}

.ingredients {
  width: 210px;
  font-size: 10px;
}


}

@media(max-width: 550px){

  .menuSection {
  width: 210px;
  padding: 10px 0px 20px 0px;
  margin: 0px 5px 10px 5px;
  border-radius: 15px;
}

.title {
  font-size: 20px;
  letter-spacing: 2px;
  padding-bottom: 20px;
}

.menuCard {
  display: flex;
  flex-direction: column;
  padding: 0px 5px;
  gap: 10px;
}

.menuItem {
  display: flex;
  flex-direction: column;
  gap: 5px;
}


.nameAndDots {
  display: flex;
  align-items: center;
  flex: 1;
  min-width: 0;
}

.itemName {
  letter-spacing: 0px;
  font-size: 11px;
  font-weight: bold;
  color: white;
  white-space: nowrap;
}

.dots {
  flex: 1;
  border-bottom: 2px dotted rgba(255, 255, 255, 0.5);
  margin: 0 2px;
  height: 1px;
}

.itemPrice {
  font-size: 11px;
  color: gold;
  white-space: nowrap;
  font-weight: bold;
}

.ingredients {
  width: 190px;
  font-size: 9.5px;
}


}

@media(max-width: 450px){

 .menuSection {
  width: 190px;
  padding: 10px 0px 20px 0px;
  margin: 0px 5px 10px 5px;
}

.title {
  font-size: 17px;
  letter-spacing: 1px;
  padding-bottom: 20px;
}

.menuCard {
  display: flex;
  flex-direction: column;
  padding: 0px 5px;
  gap: 5px;
}

.menuItem {
  display: flex;
  flex-direction: column;
  gap: 0px;
}


.nameAndDots {
  display: flex;
  align-items: center;
  flex: 1;
  min-width: 0;
}

.itemName {
  letter-spacing: 0px;
  font-size: 10px;
  font-weight: bold;
  color: white;
  white-space: nowrap;
}

.dots {
  flex: 1;
  border-bottom: 2px dotted rgba(255, 255, 255, 0.5);
  margin: 0 2px;
  height: 1px;
}

.itemPrice {
  font-size: 10px;
  color: gold;
  white-space: nowrap;
  font-weight: bold;
}

.ingredients {
  width: 160px;
  font-size: 9px;
}


}

@media(max-width: 425px){

.menuSection {
  width: 170px;
  padding: 10px 0px 20px 0px;
  margin: 0px 5px 10px 5px;
}

.title {
  font-size: 17px;
  letter-spacing: 1px;
  padding-bottom: 20px;
}

.menuCard {
  display: flex;
  flex-direction: column;
  padding: 0px 5px;
  gap: 5px;
}

.menuItem {
  display: flex;
  flex-direction: column;
  gap: 0px;
}


.nameAndDots {
  display: flex;
  align-items: center;
  flex: 1;
  min-width: 0;
}

.itemName {
  letter-spacing: 0px;
  font-size: 10px;
  font-weight: bold;
  color: white;
  white-space: nowrap;
}

.dots {
  flex: 1;
  border-bottom: 2px dotted rgba(255, 255, 255, 0.5);
  margin: 0 2px;
  height: 1px;
}

.itemPrice {
  font-size: 10px;
  color: gold;
  white-space: nowrap;
  font-weight: bold;
}

.ingredients {
  width: 150px;
  font-size: 9px;
}

}

@media(max-width: 375px){

.menuSection {
  width: 150px;
  padding: 10px 0px 20px 0px;
  margin: 0px 5px 10px 5px;
}

.title {
  font-size: 15px;
  letter-spacing: 1px;
  padding-bottom: 20px;
}

.menuCard {
  display: flex;
  flex-direction: column;
  padding: 0px 5px;
  gap: 5px;
}

.menuItem {
  display: flex;
  flex-direction: column;
  gap: 0px;
}


.nameAndDots {
  display: flex;
  align-items: center;
  flex: 1;
  min-width: 0;
}

.itemName {
  letter-spacing: 0px;
  font-size: 8px;
  font-weight: bold;
  color: white;
  white-space: nowrap;
}

.dots {
  flex: 1;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.5);
  margin: 0 2px;
  height: 1px;
}

.itemPrice {
  font-size: 8px;
  color: gold;
  white-space: nowrap;
  font-weight: bold;
}

.ingredients {
  width: 130px;
  font-size: 7px;
}

}



