.title {
  margin: 70px 0px 30px 0px;
  font-size: 50px;
  font-family: var(--font-Fredericka-the-Great), serif;
  letter-spacing: 5px;
}

.burgerSection {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto auto;
  gap: 10px;
}

.imgSection {
  display: flex;
  align-items: center;
}

.imgBurger {
  border-radius: 20%;
}

.burgerCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 100%;
}

.burgerPrice {
  font-family: var(--font-Fredericka-the-Great), serif;
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: bold;
  margin-top: auto;
  padding: 10px 0px 40px 0px;
  color: gold;
}

.burgerName {
  font-family: var(--font-Fredericka-the-Great), serif;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: bold;
  padding-top: 10px;
  color: gold;
}

.burgerIngrdients {
  width: 100%;
  max-width: 260px;
  text-align: center;
  margin-top: 8px;
  font-size: 14px;
  line-height: 1.4;
  color: lightgray;
}

@media(max-width: 1360px) {
  .title {
    margin: 60px 0px 30px 0px;
  }

  .burgerSection {
    gap: 8px;
  }

  .burgerCard {
    width: 220px;
  }

  .burgerName,
  .burgerPrice {
    font-size: 18px;
  }

  .burgerIngrdients {
    max-width: 220px;
    font-size: 12px;
  }
}

@media(max-width: 1150px) {
  .title {
    margin: 40px 0px 30px 0px;
  }

  .burgerCard {
    width: 190px;
  }

  .burgerName,
  .burgerPrice {
    font-size: 16px;
  }

  .burgerIngrdients {
    max-width: 190px;
  }
}

@media(max-width: 1024px) {
  .title {
    margin: 40px 0px 40px 0px;
  }

  .burgerSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .burgerCard {
    width: 210px;
  }

  .burgerPrice {
    font-size: 16px;
    padding: 10px 0px 20px 0px;
  }
}

@media(max-width: 900px) {
  .burgerSection {
    gap: 15px;
  }

  .burgerCard {
    width: 190px;
  }

  .burgerIngrdients {
    max-width: 220px;
  }
}

@media(max-width: 820px) {
  .burgerCard {
    margin: 0px 15px;
  }
}

@media(max-width: 690px) {
  .burgerCard {
    width: 170px;
    margin: 0px 7px;
  }

  .burgerName,
  .burgerPrice {
    font-size: 14px;
  }

  .burgerIngrdients {
    font-size: 10px;
  }
}

@media(max-width: 575px) {
  .title {
    margin: 20px 0px 30px 0px;
    font-size: 40px;
  }

  .burgerCard {
    width: 200px;
    margin: 0px 15px;
  }

  .burgerPrice {
    padding: 10px 0px 40px 0px;
  }
}

@media(max-width: 470px) {
  .burgerSection {
    gap: 5px;
  }

  .burgerCard {
    width: 180px;
    margin: 0px 5px;
  }

  .imgBurger {
    width: 100px;
  }
}

@media(max-width: 425px) {
  .title {
    margin: 20px 0px 20px 0px;
    font-size: 35px;
    letter-spacing: 3px;
  }
}

@media(max-width: 385px) {
  .title {
    font-size: 30px;
  }

  .burgerSection {
    gap: 0px;
  }

  .burgerCard {
    width: 155px;
    margin: 0px 2px;
  }

  .imgBurger {
    width: 80px;
  }

  .burgerName {
    font-size: 12px;
    word-spacing: -3px;
  }

  .burgerPrice {
    font-size: 12px;
  }

  .burgerIngrdients {
    font-size: 9px;
  }
}
